shell-recharge-20230401.json
[
    {
        "id": "9d5f683315a5a542",
        "type": "subflow",
        "name": "Shell Recharge",
        "info": "## About this subflow\n\nThis subflow will control Shell Recharge or Newmotion car charging equipment.\n\n## Getting started\n\nDrag the Shell Recharge node into a flow.\n\nDouble-click on the new node.\n\nUsing the credentials used to login to the Shell Recharge website, enter the username and password into the respective fields.\n\nTo find suitable values for _Charger ID_ and _Card ID_, send a payload (using an inject node, for example) to **_Input_** containing:\n\n> msg.payload = {\"action\":\"setup\"}\n\nInspect the output (by connecting a debug node to the **_Debug_** output). Choose a suitable charger and RFID token card/keyfob- these match the details shown on the Shell Recharge website. The array index for _msg.payload.chargePoints_ and _msg.payload.chargeTokens_ should be entered in the configuration fields _Charger ID_ and _Card ID_ respectively.\n\n_Poll_ should be left unchecked initially (see below).\n\n_Automatically refresh token_ will keep a session active by refreshing the Shell Recharge API token every 24 hours.\n\n## Inputs\n\n> msg.payload = {\"action\":\"_ACTION_\"}\n\n...where _ACTION_ is:\n\n**start**\n\nStart a charging session using the configured charger and RFID card/token.\n\n**stop**\n\nStop the current charging session.\n\n**reset**\n\nReset the charging equipment.\n\n**info**\n\nThis gives similar output to  **setup** above. The information may be returned from the cache; use **flush** first to update it if changes have been made on the Shell Recharge website.\n\n**poll** and **nopoll**\n\nContinually poll the charging equipment for status information: this gives details directly from Shell Recharge like _'Charging'_ and _'Occupied'_. \n\nSelect _Poll_ on the setup page to automatically poll after **start**, **stop** and **reset** actions.\n\nThe polling interval is every 5 minutes but only for 4 hours in total, at which point polling will be disabled automatically (in order to play fair with Shell Recharge's servers).\n\n**flush**\n\nDelete the current Shell Recharge API token, session and cache (which stores account details like chargers and token cards/keyfobs). This will force a fresh login attempt during the next interaction with Shell Recharge and get up-to-date account information. The token is expired internally after 24 hours.\n\n**token**\n\nManually request a new Shell Recharge API token. Expires internally after 24 hours. Set _msg.payload.quiet_ to _true_ to suppress the initial token flush debug message.\n\n**ready**\n\nTests whether a live API token is available: outputs _(boolean) true_ or _(boolean) false_.\n\n**refresh** and **norefresh**\n\nKeep a session active by refreshing the Shell Recharge API token every 24 hours after **start**, **stop** and **reset** actions.\n\n**vehicles**\n\nList the vehicles set up on the Shell Recharge account.\n\n## Outputs\n\nThe **_Output_** payload is _(boolean) true_ if a charge is in progress after a **start** command (see above) and _(boolean) false_ when a charge has been stopped by **stop** (see above). This is also updated when polling is in progress. All other output is from **_Debug_** labelled with topics like _status_, _poll_, _response_, _token_, _ready_ and _error_.\n\n## Problems\n\nSometimes Shell Recharge just doesn't allow the system to log in... it's not clear why. The node will indicate if this is the case. The node will try 5 times before giving up.\n\n## Contact\n\nvia [Github](https://github.com/dgthomson/nodered-shellrecharge)",
        "category": "",
        "in": [
            {
                "x": 95,
                "y": 1800,
                "wires": [
                    {
                        "id": "2813d1a7df38a439"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1750,
                "y": 325,
                "wires": [
                    {
                        "id": "a8d24482d405d44c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 900,
                "y": 1900,
                "wires": [
                    {
                        "id": "3aee759073dd7e70",
                        "port": 0
                    },
                    {
                        "id": "8ba7733b58274f58",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "loginID",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-user-circle-o",
                    "label": {
                        "en-US": "Username"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "loginPW",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-unlock-alt",
                    "label": {
                        "en-US": "Password"
                    }
                }
            },
            {
                "name": "cpID",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-plug",
                    "label": {
                        "en-US": "Charger ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "tID",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-id-card-o",
                    "label": {
                        "en-US": "Card ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "srPoll",
                "type": "bool",
                "value": "false",
                "ui": {
                    "icon": "font-awesome/fa-refresh",
                    "label": {
                        "en-US": "Poll"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "srRefresh",
                "type": "bool",
                "value": "false",
                "ui": {
                    "icon": "font-awesome/fa-tags",
                    "label": {
                        "en-US": "Automatically refresh token"
                    },
                    "type": "checkbox"
                }
            }
        ],
        "meta": {
            "module": "Shell Recharge",
            "type": "dgt.nodered.35e.shellrecharge",
            "version": "1.95 (2024-04-01)",
            "author": "David Thomson <dgthomson@gmail.com>",
            "desc": "Nodered subflow to control Shell Recharge and Newmotion car charging equipment.",
            "keywords": "shell,recharge,new,motion,newmotion,evse,charge",
            "license": "GPL-3.0"
        },
        "credentials": {
            "loginPW": ""
        },
        "color": "#0097A9",
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "Output",
            "Debug"
        ],
        "icon": "font-awesome/fa-plug",
        "status": {
            "x": 870,
            "y": 1800,
            "wires": [
                {
                    "id": "ca87d1290b645c38",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "a0ba3787b45d9950",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Charge Points & Tokens",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 415,
        "y": 325,
        "wires": [
            [
                "6eaa3e7409bbe67e"
            ]
        ],
        "l": false
    },
    {
        "id": "b15835133c7037cc",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Perform action",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 840,
        "y": 325,
        "wires": [
            [
                "3202110d67840288"
            ]
        ],
        "l": false
    },
    {
        "id": "a6a53dd920636092",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cacheShellRecharge.token",
                "pt": "flow",
                "to": "responseCookies.tnm_api.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.tokenTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1350,
        "wires": [
            [
                "f7ca651fb39bc5a5"
            ]
        ],
        "l": false
    },
    {
        "id": "3202110d67840288",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "The request has been accepted for processing",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 915,
        "y": 325,
        "wires": [
            [
                "c51fa73cc1e92d2d",
                "ec5bc7e4f6294a32"
            ],
            [
                "532b0e2f76226de4"
            ]
        ],
        "l": false
    },
    {
        "id": "dcab47ccb7d390e9",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "-30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 140,
        "y": 1350,
        "wires": [
            [
                "56e95c4ac38b5ae9"
            ]
        ],
        "l": false
    },
    {
        "id": "6eaa3e7409bbe67e",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 465,
        "y": 325,
        "wires": [
            [
                "2a1e73d90768ced4"
            ],
            [
                "293439a7e15c448f",
                "601b4f6c0da65249"
            ]
        ],
        "l": false
    },
    {
        "id": "293439a7e15c448f",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMGETTOKEN",
        "mode": "link",
        "links": [
            "903db68ebfa8da41"
        ],
        "x": 515,
        "y": 425,
        "wires": [],
        "icon": "font-awesome/fa-tags"
    },
    {
        "id": "903db68ebfa8da41",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "Login",
        "links": [
            "293439a7e15c448f",
            "3a33b0a56d9ba091",
            "565bac36f3f2db3a",
            "fa4b0e8a42e3b0e1",
            "6b8d36dd771ca198"
        ],
        "x": 90,
        "y": 1350,
        "wires": [
            [
                "dcab47ccb7d390e9"
            ]
        ],
        "icon": "font-awesome/fa-tags"
    },
    {
        "id": "56e95c4ac38b5ae9",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "nmLoginAttempts",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lte",
                "v": "nmLoginMaxAttempts",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 1350,
        "wires": [
            [
                "e871bb24b0a967b2"
            ],
            [
                "137323c5c39a1725",
                "f7e3a90906fba000",
                "557149c3d334b9bd",
                "878672c6eaf0975e"
            ]
        ],
        "l": false
    },
    {
        "id": "7a428f17d94a483b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Login...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'[' & $flowContext('nmLoginAttempts') & '/' & $flowContext('nmLoginMaxAttempts') & '] Login...'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1400,
        "wires": [
            [
                "76ac4e1479d558a0"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "76ac4e1479d558a0",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 390,
        "y": 1400,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "137323c5c39a1725",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Failed to get API token",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Failed to get API token",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 1550,
        "wires": [
            [
                "89971d4016e4f11b",
                "0853e5dea16c1a8d",
                "e2dcb444e2efb511",
                "601cf51eb557fc27"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "894e269eaeb435c3",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Poll for success",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1190,
        "y": 325,
        "wires": [
            [
                "a5355e83df9753ea"
            ]
        ],
        "l": false
    },
    {
        "id": "0f0f578f29379323",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1140,
        "y": 325,
        "wires": [
            [
                "894e269eaeb435c3"
            ]
        ],
        "l": false
    },
    {
        "id": "cc1820dd1d01f04e",
        "type": "change",
        "z": "9d5f683315a5a542",
        "d": true,
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.rfid",
                "pt": "msg",
                "to": "$.payload.chargeTokens[$env('tID')].rfid",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.evseNo",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://ui-chargepoints.shellrecharge.com/api/facade/v1/charge-points/' & $.payload.chargePoints[$env('cpID')].uuid & '/remote-control/' & $.srAction",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "text/html",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.chargePoints",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.chargeTokens",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 325,
        "wires": [
            [
                "b15835133c7037cc"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "1fb7e24d27c3d5e2",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "reset",
        "op1type": "pay",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1065,
        "y": 325,
        "wires": [
            [
                "0f0f578f29379323"
            ]
        ],
        "l": false
    },
    {
        "id": "2e6851c285793f2f",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "",
        "links": [
            "564572534a5d7312",
            "c98aeb9d11e8d938"
        ],
        "x": 990,
        "y": 375,
        "wires": [
            [
                "869fbf87c3598eea",
                "1fb7e24d27c3d5e2"
            ]
        ],
        "icon": "font-awesome/fa-recycle"
    },
    {
        "id": "869fbf87c3598eea",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065,
        "y": 375,
        "wires": [
            [
                "0f0f578f29379323"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "c98aeb9d11e8d938",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUSRESET",
        "mode": "link",
        "links": [
            "2e6851c285793f2f"
        ],
        "x": 1565,
        "y": 375,
        "wires": [],
        "icon": "font-awesome/fa-recycle"
    },
    {
        "id": "f9b690d0c2064006",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Charging started…",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Charging started…",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 325,
        "wires": [
            [
                "7b070b140373ea6b",
                "4ad9234ab8056d3b"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "2f423b4a7595c664",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Reset monitor",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 375,
        "wires": [
            [
                "c98aeb9d11e8d938"
            ]
        ],
        "icon": "font-awesome/fa-refresh",
        "l": false
    },
    {
        "id": "f420aac8dc0e9a76",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Charging",
        "property": "$.payload.chargePoints[$env('cpID')].evses[0].status",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "Charging",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 325,
        "wires": [
            [
                "f9b690d0c2064006",
                "2f423b4a7595c664"
            ]
        ],
        "l": false
    },
    {
        "id": "712c15e493ac9dd7",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Resetting...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Resetting...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 475,
        "wires": [
            [
                "7b070b140373ea6b",
                "636e5b96f9e501b8"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "7b070b140373ea6b",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1565,
        "y": 425,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "9dab56460c2ff93d",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Unavailable",
        "property": "$.payload.chargePoints[$env('cpID')].evses[0].status",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "Unavailable",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 425,
        "wires": [
            [
                "712c15e493ac9dd7",
                "2f423b4a7595c664"
            ]
        ],
        "l": false
    },
    {
        "id": "44238c16466d87a3",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Stopping...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stopping...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 425,
        "wires": [
            [
                "7b070b140373ea6b",
                "636e5b96f9e501b8"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "0ab592a5c26e9cc6",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Available",
        "property": "$.payload.chargePoints[$env('cpID')].evses[0].status",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "Available",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 375,
        "wires": [
            [
                "44238c16466d87a3",
                "2f423b4a7595c664"
            ]
        ],
        "l": false
    },
    {
        "id": "cc62737256987863",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "responseCookies.tnm_api.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1315,
        "y": 1350,
        "wires": [
            [
                "a6a53dd920636092",
                "8568c0d2a7400d97",
                "fdc4615af10375a5",
                "052620b2c2ae1484",
                "6f0f8626b0f4574d"
            ]
        ],
        "l": false
    },
    {
        "id": "c51fa73cc1e92d2d",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Status message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "srAction",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "start",
                "fromt": "str",
                "to": "Waiting to start charge…",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "stop",
                "fromt": "str",
                "to": "Waiting to stop charge…",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "reset",
                "fromt": "str",
                "to": "Waiting to reset charger…",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 425,
        "wires": [
            [
                "0ac650188bf430e9"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "172522d7cf7c7426",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Token available?",
        "property": "cacheShellRecharge.token",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 325,
        "wires": [
            [
                "e37e09b834bd3223"
            ],
            [
                "5eeb0e2e236eb43a"
            ]
        ],
        "l": false
    },
    {
        "id": "8568c0d2a7400d97",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "24",
        "extend": true,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1390,
        "y": 1500,
        "wires": [
            [
                "300b5792119a9dc2"
            ]
        ],
        "l": false
    },
    {
        "id": "4ad9234ab8056d3b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1565,
        "y": 525,
        "wires": [
            [
                "a8d24482d405d44c"
            ]
        ],
        "l": false
    },
    {
        "id": "636e5b96f9e501b8",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1565,
        "y": 475,
        "wires": [
            [
                "a8d24482d405d44c"
            ]
        ],
        "l": false
    },
    {
        "id": "f7e3a90906fba000",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 1500,
        "wires": [
            [
                "3f1c959c2a39ef1f"
            ]
        ],
        "l": false
    },
    {
        "id": "a8424d455945bf66",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Setup",
        "rules": [
            {
                "t": "set",
                "p": "nmLoginMaxAttempts",
                "pt": "flow",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "nmLoginAttempts",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "move",
                "p": "payload.action",
                "pt": "msg",
                "to": "srAction",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.login.credentials.id",
                "pt": "flow",
                "to": "loginID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.login.credentials.pw",
                "pt": "flow",
                "to": "loginPW",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "query.from",
                "pt": "msg",
                "to": "$exists($.payload.from) ? $.payload.from : \"\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "query.to",
                "pt": "msg",
                "to": "$exists($.payload.to) ? $.payload.to : \"\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "query.offset",
                "pt": "msg",
                "to": "$exists($.payload.offset) ? $.payload.offset : 0",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.qsp.to",
                "pt": "flow",
                "to": "query.to",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.qsp.from",
                "pt": "flow",
                "to": "query.from",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.qsp.offset",
                "pt": "flow",
                "to": "query.offset",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "query.quiet",
                "pt": "msg",
                "to": "$exists($.payload.quiet) ? $.payload.quiet : false",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.qsp.quiet",
                "pt": "flow",
                "to": "query.quiet",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cacheShellRecharge.tID",
                "pt": "flow",
                "to": "$exists($.payload.cardid) ? $.payload.cardid : $env('tID')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 1900,
        "wires": [
            [
                "70eed574f9c4bade"
            ]
        ],
        "icon": "font-awesome/fa-cogs",
        "l": false,
        "info": "(Draft)\n\n\n**energy**\n\nOutput energy consumption data. This function needs an active Shell Recharge paid-for subscription, otherwise blank data are returned. The system is unreliable and often returns an error- try a **flush** first or send the payload repeatedly until it works. See also **describe**.\n\nAdditional payload parameters are _from_ and _to_ which should be set as a Unix Epoch time."
    },
    {
        "id": "557149c3d334b9bd",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 1450,
        "wires": [
            [
                "565bac36f3f2db3a"
            ]
        ],
        "icon": "font-awesome/fa-undo",
        "l": false
    },
    {
        "id": "565bac36f3f2db3a",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMGETTOKEN",
        "mode": "link",
        "links": [
            "903db68ebfa8da41"
        ],
        "x": 340,
        "y": 1450,
        "wires": [],
        "icon": "font-awesome/fa-tags"
    },
    {
        "id": "fdc4615af10375a5",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1450,
        "wires": [
            [
                "3a33b0a56d9ba091"
            ]
        ],
        "icon": "font-awesome/fa-undo",
        "l": false
    },
    {
        "id": "3a33b0a56d9ba091",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMGETTOKEN",
        "mode": "link",
        "links": [
            "903db68ebfa8da41"
        ],
        "x": 1465,
        "y": 1450,
        "wires": [],
        "icon": "font-awesome/fa-tags"
    },
    {
        "id": "3decb103a0193841",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "responseCookies.tnm_api.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1315,
        "y": 1600,
        "wires": [
            [
                "b74b8bf64333f55c"
            ]
        ],
        "l": false
    },
    {
        "id": "b74b8bf64333f55c",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('nmLoginAttempts') < $flowContext('nmLoginMaxAttempts') ? '. Retrying...' : '.'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'[' & $flowContext('nmLoginAttempts') & '/' & $flowContext('nmLoginMaxAttempts') & '] Token error' & $.payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "nmLoginAttempts",
                "pt": "flow",
                "to": "$flowContext(\"nmLoginAttempts\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1600,
        "wires": [
            [
                "2e7568d27a582f53"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "052620b2c2ae1484",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'New API token ' & $now('[D01]/[M01]/[Y0001] [H#1]:[m01]',$flowContext('srTZ'))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1550,
        "wires": [
            [
                "2e7568d27a582f53"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "2e7568d27a582f53",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1465,
        "y": 1550,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "17c012f560605d06",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Info",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "info",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 665,
        "y": 775,
        "wires": [
            [
                "b89864a2d42f858a",
                "64a9da6dc8afb446",
                "8f8b1fb52af38724"
            ]
        ],
        "l": false
    },
    {
        "id": "d9c69663213b9607",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "SROUTPUT1",
        "links": [
            "3f1c959c2a39ef1f",
            "0ac98a1ddbf4e558",
            "4483b755f1e11154",
            "dee9dcbe1390d9d2",
            "b9d405733bb56aef"
        ],
        "x": 1565,
        "y": 325,
        "wires": [
            [
                "a8d24482d405d44c"
            ]
        ],
        "icon": "font-awesome/fa-sign-out"
    },
    {
        "id": "3f1c959c2a39ef1f",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "d9c69663213b9607"
        ],
        "x": 340,
        "y": 1500,
        "wires": [],
        "icon": "font-awesome/fa-sign-out"
    },
    {
        "id": "de34b3e22a09b8b8",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://ui-chargepoints.shellrecharge.com/api/facade/v1/me/asset-overview",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "cookies",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "headers.content_type",
                "pt": "msg",
                "to": "application/octet-stream",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_event",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseCookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 325,
        "wires": [
            [
                "a0ba3787b45d9950"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "9590544cfd8e8ca4",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "SROUTPUT2",
        "links": [
            "aff1ab72346418f6",
            "f89a97fceed6b492",
            "13367e0d99d9693e",
            "2252bc561f2c4845",
            "66d26922e16ee300",
            "bc32a0a2edd07bbe",
            "68693018d78eb13c",
            "8c9a020973f324e9",
            "fd538d9d5a8fd211",
            "929fc26e3bd6ba5a",
            "6c0a96fcb4dc1086",
            "84b9357efc07bec5",
            "13402d236f9bb359"
        ],
        "x": 465,
        "y": 1900,
        "wires": [
            [
                "a1cc5f286d91acea"
            ]
        ],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "e37e09b834bd3223",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 425,
        "wires": [
            [
                "293439a7e15c448f"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "a1cc5f286d91acea",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "cookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "method",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseCookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_event",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload._event",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "srAction",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "requestTimeout",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "query",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 515,
        "y": 1900,
        "wires": [
            [
                "8ba7733b58274f58"
            ]
        ],
        "icon": "font-awesome/fa-bath",
        "l": false
    },
    {
        "id": "6abe6acfd1991256",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "SROUTPUTSTATUS",
        "links": [
            "09f54f26ed714eb5",
            "0ac650188bf430e9",
            "2e7568d27a582f53",
            "394a21ba29cfe8b3",
            "53644508f5e76857",
            "6d8e3fa0049ece4a",
            "76ac4e1479d558a0",
            "7b070b140373ea6b",
            "960a48bb6a7e965c",
            "aff1ab72346418f6",
            "13367e0d99d9693e",
            "58dbf66b745dd93e",
            "66b5fecbb727ba3f",
            "92bae61713dd852f",
            "61f766cfc40aaa79",
            "89b352954ff2e66f",
            "fd538d9d5a8fd211",
            "1047d294aea91ab9",
            "e711964fdfc079d7",
            "e0d51983c9644ba9"
        ],
        "x": 315,
        "y": 1850,
        "wires": [
            [
                "bda61d457d5b2f5f"
            ]
        ],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "6d8e3fa0049ece4a",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 840,
        "y": 825,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "b89864a2d42f858a",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Assets listed...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Information output",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 825,
        "wires": [
            [
                "6d8e3fa0049ece4a"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "5fb9307fc974d179",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.fill",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 465,
        "y": 1800,
        "wires": [
            [
                "0ef58af539b09139",
                "10b34ba2f0ec7142"
            ]
        ],
        "l": false
    },
    {
        "id": "0ef58af539b09139",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "{\"text\":\"\",\"fill\":\"\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 515,
        "y": 1850,
        "wires": [
            [
                "10b34ba2f0ec7142"
            ]
        ],
        "l": false
    },
    {
        "id": "0ac650188bf430e9",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1065,
        "y": 425,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "4679aafbae747c8a",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Start",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1340,
        "y": 325,
        "wires": [
            [
                "f420aac8dc0e9a76"
            ]
        ],
        "l": false
    },
    {
        "id": "866edefd107594fc",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Reset",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1340,
        "y": 425,
        "wires": [
            [
                "9dab56460c2ff93d"
            ]
        ],
        "l": false
    },
    {
        "id": "94fa760934fe9d2a",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Stop",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1340,
        "y": 375,
        "wires": [
            [
                "0ab592a5c26e9cc6"
            ]
        ],
        "l": false
    },
    {
        "id": "6ea4e0da20c73446",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "pay",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1065,
        "y": 525,
        "wires": [
            [
                "e1f4fb9e8ac92779"
            ]
        ],
        "l": false
    },
    {
        "id": "752642176ae76afa",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Poll",
        "property": "srPoll",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 765,
        "y": 475,
        "wires": [
            [
                "7aac35ded678b6e1"
            ],
            [
                "442f40c2a579723a"
            ]
        ],
        "l": false
    },
    {
        "id": "e1f4fb9e8ac92779",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Poll status",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1140,
        "y": 525,
        "wires": [
            [
                "9ce34fce141e7ace"
            ]
        ],
        "l": false
    },
    {
        "id": "2a72dade1b4acaac",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$.payload.chargePoints[$env('cpID')].evses[0].status",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "poll",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1265,
        "y": 525,
        "wires": [
            [
                "c9cd2fbb5e52d23b"
            ]
        ],
        "l": false
    },
    {
        "id": "aff1ab72346418f6",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256",
            "9590544cfd8e8ca4"
        ],
        "x": 1415,
        "y": 475,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "f772183bb1dd1085",
        "type": "trigger",
        "z": "9d5f683315a5a542",
        "name": "",
        "op1": "",
        "op2": "reset",
        "op1type": "pay",
        "op2type": "str",
        "duration": "4",
        "extend": true,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 990,
        "y": 525,
        "wires": [
            [
                "6ea4e0da20c73446"
            ]
        ],
        "l": false
    },
    {
        "id": "fd0c107046d5cdbc",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Poll",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "poll",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 525,
        "wires": [
            [
                "e7eec175e33b93fd"
            ]
        ],
        "l": false
    },
    {
        "id": "708cbb7c77a356ab",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Charge Actions",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(start|stop|reset)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 325,
        "wires": [
            [
                "752642176ae76afa",
                "bee1e56c47b045c4",
                "cc1820dd1d01f04e",
                "adaff483fbe747d6"
            ]
        ],
        "l": false
    },
    {
        "id": "ca3cb40910375027",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Stop polling",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nopoll",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 575,
        "wires": [
            [
                "442f40c2a579723a"
            ]
        ],
        "l": false
    },
    {
        "id": "a6a27a278677df9f",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Stop polling",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 915,
        "y": 575,
        "wires": [
            [
                "46818a081430b13b",
                "f772183bb1dd1085"
            ]
        ],
        "icon": "font-awesome/fa-refresh",
        "l": false
    },
    {
        "id": "46818a081430b13b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 575,
        "wires": [
            [
                "6ea4e0da20c73446",
                "6a5bf4b27a9c16fa"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "6f046f1682cde476",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Flush",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "flush",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 525,
        "wires": [
            [
                "97cafab1c414956d"
            ]
        ],
        "l": false
    },
    {
        "id": "97cafab1c414956d",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Reset caches",
        "rules": [
            {
                "t": "delete",
                "p": "cacheShellRecharge.assets",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "cacheShellRecharge.user",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "cacheShellRecharge.qsp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 525,
        "wires": [
            [
                "d91d885fe078eb54",
                "7b9f772792bd11f8"
            ]
        ],
        "l": false
    },
    {
        "id": "960a48bb6a7e965c",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 290,
        "y": 525,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "d91d885fe078eb54",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Token and store deleted",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Token and store deleted",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 525,
        "wires": [
            [
                "960a48bb6a7e965c"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "49d39461380aaf5e",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Charge Actions",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(start|stop|reset|^poll|^refresh|vehicles|setup)",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "(info)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 325,
        "wires": [
            [
                "07073d38cb0bae4f"
            ],
            [
                "bddca1aaa9a8c7a4"
            ]
        ],
        "l": false
    },
    {
        "id": "09f54f26ed714eb5",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1640,
        "y": 575,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "6a5bf4b27a9c16fa",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Polling stopped",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Polling stopped",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "reset",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 575,
        "wires": [
            [
                "f2037c9d15b29377"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "7c0646d36a625194",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 465,
        "y": 1850,
        "wires": [
            [
                "a1cc5f286d91acea"
            ]
        ],
        "l": false
    },
    {
        "id": "64a9da6dc8afb446",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "assets",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 875,
        "wires": [
            [
                "c2b0913506035006"
            ]
        ],
        "icon": "font-awesome/fa-bug",
        "l": false
    },
    {
        "id": "2a931e5e977bd843",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Charging",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 525,
        "wires": [
            [
                "4ad9234ab8056d3b"
            ],
            [
                "636e5b96f9e501b8"
            ]
        ],
        "l": false
    },
    {
        "id": "c9cd2fbb5e52d23b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 525,
        "wires": [
            [
                "aff1ab72346418f6",
                "2a931e5e977bd843"
            ]
        ],
        "icon": "font-awesome/fa-bug",
        "l": false
    },
    {
        "id": "151e4c1a937ebbbb",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(error|^poll)",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 415,
        "y": 1850,
        "wires": [
            [],
            [
                "7c0646d36a625194"
            ]
        ],
        "l": false
    },
    {
        "id": "a8d24482d405d44c",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "cookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "method",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseCookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_event",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload._event",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "srAction",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "requestTimeout",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "query",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 325,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-bath",
        "l": false
    },
    {
        "id": "2813d1a7df38a439",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "loginID",
        "propertyType": "env",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 165,
        "y": 1800,
        "wires": [
            [
                "07d9fce007a0903b"
            ],
            [
                "7c09d6e602124182"
            ]
        ],
        "l": false
    },
    {
        "id": "7c09d6e602124182",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "loginPW",
        "propertyType": "env",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 215,
        "y": 1850,
        "wires": [
            [
                "b5b3eb881036aa67"
            ],
            [
                "a8424d455945bf66"
            ]
        ],
        "l": false
    },
    {
        "id": "b5b3eb881036aa67",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Not set up correctly",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Not set up correctly",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 1800,
        "wires": [
            [
                "bda61d457d5b2f5f"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "07d9fce007a0903b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 215,
        "y": 1800,
        "wires": [
            [
                "b5b3eb881036aa67"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "23250eeae1ac8b25",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "INPUT",
        "mode": "link",
        "links": [
            "26f858e3c3860c91"
        ],
        "x": 365,
        "y": 1900,
        "wires": [],
        "icon": "font-awesome/fa-plug"
    },
    {
        "id": "26f858e3c3860c91",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "",
        "links": [
            "23250eeae1ac8b25",
            "4aa1ad9ac3efd711",
            "8e34bb0697513be6",
            "f7ca651fb39bc5a5"
        ],
        "x": 65,
        "y": 325,
        "wires": [
            [
                "49d39461380aaf5e",
                "6f046f1682cde476",
                "ca3cb40910375027",
                "9bf8e5c7cec23109",
                "b8d7a5ce3c8d668f",
                "e1e5120ac1d12ba9",
                "8a99863a6cc81ff3",
                "9090e0000cd44c3f"
            ]
        ],
        "icon": "font-awesome/fa-plug"
    },
    {
        "id": "5559169216b4bcfb",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Refresh token",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "refresh",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 675,
        "wires": [
            [
                "ef189b0c3b0c0a9b"
            ]
        ],
        "l": false
    },
    {
        "id": "e3a56c4d781837db",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Reset token",
        "rules": [
            {
                "t": "set",
                "p": "srAction",
                "pt": "msg",
                "to": "refresh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1565,
        "y": 675,
        "wires": [
            [
                "4aa1ad9ac3efd711",
                "b0f7b88fee90fa4c"
            ]
        ],
        "l": false
    },
    {
        "id": "c2210902f408e0d0",
        "type": "delay",
        "z": "9d5f683315a5a542",
        "name": "",
        "pauseType": "delay",
        "timeout": "24",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 915,
        "y": 675,
        "wires": [
            [
                "e3a56c4d781837db"
            ]
        ],
        "l": false
    },
    {
        "id": "4aa1ad9ac3efd711",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "INPUT",
        "mode": "link",
        "links": [
            "26f858e3c3860c91"
        ],
        "x": 1640,
        "y": 675,
        "wires": [],
        "icon": "font-awesome/fa-plug"
    },
    {
        "id": "9bf8e5c7cec23109",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Don't refresh token",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "norefresh",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 725,
        "wires": [
            [
                "8399f917cb5c0d98"
            ]
        ],
        "l": false
    },
    {
        "id": "8399f917cb5c0d98",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 725,
        "wires": [
            [
                "c2210902f408e0d0",
                "d8119a96556f2239"
            ]
        ],
        "icon": "font-awesome/fa-refresh",
        "l": false
    },
    {
        "id": "394a21ba29cfe8b3",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1640,
        "y": 775,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "d8119a96556f2239",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Refresh stopped",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Auto token refresh stopped",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "reset",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 725,
        "wires": [
            [
                "d0359b934feac7e7"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "bee1e56c47b045c4",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Refresh token",
        "property": "srRefresh",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 765,
        "y": 625,
        "wires": [
            [
                "a3b9100c782bbd59"
            ],
            [
                "8399f917cb5c0d98"
            ]
        ],
        "l": false
    },
    {
        "id": "a3b9100c782bbd59",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 625,
        "wires": [
            [
                "c2210902f408e0d0",
                "4e45966b270b1d69"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "7aac35ded678b6e1",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 475,
        "wires": [
            [
                "e7eec175e33b93fd"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "f2037c9d15b29377",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Charge Actions",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(start|stop|reset)",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1565,
        "y": 575,
        "wires": [
            [],
            [
                "09f54f26ed714eb5"
            ]
        ],
        "l": false
    },
    {
        "id": "d0359b934feac7e7",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Charge Actions",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(start|stop|reset)",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1565,
        "y": 725,
        "wires": [
            [],
            [
                "394a21ba29cfe8b3"
            ]
        ],
        "l": false
    },
    {
        "id": "bda61d457d5b2f5f",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 1800,
        "wires": [
            [
                "5fb9307fc974d179",
                "151e4c1a937ebbbb"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "10b34ba2f0ec7142",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 565,
        "y": 1800,
        "wires": [
            [
                "3c95b88dcccde184"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "f28dd63817217a2d",
        "type": "catch",
        "z": "9d5f683315a5a542",
        "name": "Catch HTTP errors",
        "scope": [
            "14e671b28ecd3a99",
            "94bb46fe60fb387f",
            "a0ba3787b45d9950",
            "b15835133c7037cc",
            "894e269eaeb435c3",
            "e1f4fb9e8ac92779"
        ],
        "uncaught": false,
        "x": 715,
        "y": 1850,
        "wires": [
            [
                "178bd80a017d87fc"
            ]
        ],
        "l": false
    },
    {
        "id": "3aee759073dd7e70",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "error",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 815,
        "y": 1850,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "178bd80a017d87fc",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":\"Error: check debug output\",\"fill\":\"red\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 1850,
        "wires": [
            [
                "3aee759073dd7e70",
                "ca87d1290b645c38"
            ]
        ],
        "l": false
    },
    {
        "id": "ca87d1290b645c38",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 815,
        "y": 1800,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "89971d4016e4f11b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Stop polling",
        "rules": [
            {
                "t": "set",
                "p": "srAction",
                "pt": "msg",
                "to": "nopoll",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1600,
        "wires": [
            [
                "8e34bb0697513be6"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle-o",
        "l": false
    },
    {
        "id": "0853e5dea16c1a8d",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Stop refreshing",
        "rules": [
            {
                "t": "set",
                "p": "srAction",
                "pt": "msg",
                "to": "norefresh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1650,
        "wires": [
            [
                "8e34bb0697513be6"
            ]
        ],
        "icon": "font-awesome/fa-stop-circle-o",
        "l": false
    },
    {
        "id": "8e34bb0697513be6",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "INPUT",
        "mode": "link",
        "links": [
            "26f858e3c3860c91"
        ],
        "x": 390,
        "y": 1600,
        "wires": [],
        "icon": "font-awesome/fa-plug"
    },
    {
        "id": "564572534a5d7312",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUSRESET",
        "mode": "link",
        "links": [
            "2e6851c285793f2f"
        ],
        "x": 390,
        "y": 1700,
        "wires": [],
        "icon": "font-awesome/fa-recycle"
    },
    {
        "id": "e2dcb444e2efb511",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Reset monitor",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1700,
        "wires": [
            [
                "564572534a5d7312"
            ]
        ],
        "icon": "font-awesome/fa-refresh",
        "l": false
    },
    {
        "id": "601cf51eb557fc27",
        "type": "delay",
        "z": "9d5f683315a5a542",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 1550,
        "wires": [
            [
                "0aa6c258de892155"
            ]
        ],
        "l": false
    },
    {
        "id": "0aa6c258de892155",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "SROUTPUTERROR",
        "mode": "link",
        "links": [
            "d4c03e88182ef969"
        ],
        "x": 390,
        "y": 1550,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "d4c03e88182ef969",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "",
        "links": [
            "0aa6c258de892155",
            "65ae97aa49a5572a"
        ],
        "x": 565,
        "y": 1850,
        "wires": [
            [
                "98e8ef2fc5326718"
            ]
        ],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "98e8ef2fc5326718",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.text",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.fill",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 1850,
        "wires": [
            [
                "3c95b88dcccde184",
                "ad3d9d4497484298"
            ]
        ],
        "l": false
    },
    {
        "id": "3c95b88dcccde184",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 665,
        "y": 1800,
        "wires": [
            [
                "ca87d1290b645c38"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "ad3d9d4497484298",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.text",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 665,
        "y": 1850,
        "wires": [
            [
                "8ba7733b58274f58"
            ]
        ],
        "l": false
    },
    {
        "id": "8ba7733b58274f58",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 715,
        "y": 1900,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "c0f28907f0f9bb80",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Start refresh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Auto token refresh started",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 625,
        "wires": [
            [
                "4860eab03c30fe3a"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "53644508f5e76857",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1640,
        "y": 625,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "ef189b0c3b0c0a9b",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 675,
        "wires": [
            [
                "c2210902f408e0d0",
                "4e45966b270b1d69"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "4860eab03c30fe3a",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Charge Actions",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(start|stop|reset)",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1565,
        "y": 625,
        "wires": [
            [],
            [
                "53644508f5e76857"
            ]
        ],
        "l": false
    },
    {
        "id": "4e45966b270b1d69",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 915,
        "y": 625,
        "wires": [
            [
                "c0f28907f0f9bb80"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "f7ca651fb39bc5a5",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "INPUT",
        "mode": "link",
        "links": [
            "26f858e3c3860c91"
        ],
        "x": 1465,
        "y": 1350,
        "wires": [],
        "icon": "font-awesome/fa-plug"
    },
    {
        "id": "72103188b5db9308",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Store",
        "rules": [
            {
                "t": "set",
                "p": "cacheShellRecharge.assets",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 375,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-database",
        "l": false
    },
    {
        "id": "5eeb0e2e236eb43a",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Store available?",
        "property": "cacheShellRecharge.assets",
        "propertyType": "flow",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 315,
        "y": 325,
        "wires": [
            [
                "de34b3e22a09b8b8"
            ],
            [
                "a1706b7697d9d135"
            ]
        ],
        "l": false
    },
    {
        "id": "4238108411ee2390",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Retrieve",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cacheShellRecharge.assets",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 375,
        "wires": [
            [
                "708cbb7c77a356ab",
                "17c012f560605d06",
                "fd0c107046d5cdbc",
                "5559169216b4bcfb",
                "05060d6b616cd90b",
                "9c67098f6cbb3c78"
            ]
        ],
        "icon": "font-awesome/fa-database",
        "l": false
    },
    {
        "id": "2a1e73d90768ced4",
        "type": "json",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 615,
        "y": 325,
        "wires": [
            [
                "708cbb7c77a356ab",
                "17c012f560605d06",
                "72103188b5db9308",
                "fd0c107046d5cdbc",
                "5559169216b4bcfb",
                "05060d6b616cd90b",
                "9c67098f6cbb3c78"
            ]
        ],
        "l": false
    },
    {
        "id": "a1706b7697d9d135",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 375,
        "wires": [
            [
                "4238108411ee2390"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "ec5bc7e4f6294a32",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://ui-chargepoints.shellrecharge.com/api/facade/v1/me/asset-overview",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content_type",
                "pt": "msg",
                "to": "application/octet-stream",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 325,
        "wires": [
            [
                "1fb7e24d27c3d5e2"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "e7eec175e33b93fd",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://ui-chargepoints.shellrecharge.com/api/facade/v1/me/asset-overview",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content_type",
                "pt": "msg",
                "to": "application/octet-stream",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 915,
        "y": 525,
        "wires": [
            [
                "f772183bb1dd1085"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "442f40c2a579723a",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 575,
        "wires": [
            [
                "a6a27a278677df9f"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "70eed574f9c4bade",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Guard",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(chargeoff|ready|^token|aftertoken|setup|vehicles|start|stop|reset|info|^poll|nopoll|flush|^refresh|norefresh|energy)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 315,
        "y": 1900,
        "wires": [
            [
                "23250eeae1ac8b25"
            ]
        ],
        "l": false
    },
    {
        "id": "a6c494cb59ab4789",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Login page",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 1350,
        "wires": [
            [
                "09086cb8ae8eed04",
                "6b65ef27b95a6a40"
            ]
        ],
        "l": false
    },
    {
        "id": "e871bb24b0a967b2",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "cookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "method",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_event",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://account.shellrecharge.com/",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 1350,
        "wires": [
            [
                "a6c494cb59ab4789",
                "7a428f17d94a483b"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "4cf854d73e9ddfa4",
        "type": "html",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload.html",
        "outproperty": "payload.html",
        "tag": "[id=login-email]",
        "ret": "attr",
        "as": "single",
        "x": 690,
        "y": 1350,
        "wires": [
            [
                "be83f629752c0987"
            ]
        ],
        "icon": "font-awesome/fa-eyedropper",
        "l": false
    },
    {
        "id": "12c594a47019749c",
        "type": "join",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload.login",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 815,
        "y": 1350,
        "wires": [
            [
                "2468225b2d1f7f87"
            ]
        ],
        "l": false
    },
    {
        "id": "02c354ce8b194827",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.html",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 1350,
        "wires": [
            [
                "681cf8fbb6739097",
                "4cf854d73e9ddfa4",
                "e909d833c2b41e80",
                "d214acaf729315fe"
            ]
        ],
        "l": false
    },
    {
        "id": "e909d833c2b41e80",
        "type": "html",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload.html",
        "outproperty": "payload.html",
        "tag": "[id=login-pwd]",
        "ret": "attr",
        "as": "single",
        "x": 690,
        "y": 1400,
        "wires": [
            [
                "cf1699871e730ddf"
            ]
        ],
        "icon": "font-awesome/fa-eyedropper",
        "l": false
    },
    {
        "id": "cf1699871e730ddf",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.login.password.id",
                "pt": "msg",
                "to": "payload.html[0].name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.login.password.tx",
                "pt": "msg",
                "to": "cacheShellRecharge.login.credentials.pw",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1400,
        "wires": [
            [
                "12c594a47019749c"
            ]
        ],
        "l": false
    },
    {
        "id": "d214acaf729315fe",
        "type": "html",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload.html",
        "outproperty": "payload.html",
        "tag": "input[type=hidden]",
        "ret": "attr",
        "as": "single",
        "x": 690,
        "y": 1450,
        "wires": [
            [
                "c4ccc33793be1c36"
            ]
        ],
        "icon": "font-awesome/fa-eyedropper",
        "l": false
    },
    {
        "id": "c4ccc33793be1c36",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.login.hidden.id",
                "pt": "msg",
                "to": "payload.html[0].name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.login.hidden.tx",
                "pt": "msg",
                "to": "payload.html[0].value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1450,
        "wires": [
            [
                "12c594a47019749c"
            ]
        ],
        "l": false
    },
    {
        "id": "681cf8fbb6739097",
        "type": "html",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload.html",
        "outproperty": "payload.html",
        "tag": "script:contains(lift_page)",
        "ret": "html",
        "as": "single",
        "x": 690,
        "y": 1500,
        "wires": [
            [
                "e17368f90e338a68"
            ]
        ],
        "icon": "font-awesome/fa-eyedropper",
        "l": false
    },
    {
        "id": "e17368f90e338a68",
        "type": "function",
        "z": "9d5f683315a5a542",
        "name": "",
        "func": "var pos = msg.payload.html[0].indexOf('var lift_page = ')+'var lift_page = '.length+1;\nmsg.payload = msg.payload.html[0].substr(pos).split('\"')[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1500,
        "wires": [
            [
                "c748c99de8e263b8"
            ]
        ],
        "l": false
    },
    {
        "id": "c748c99de8e263b8",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.login.ajax.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1500,
        "wires": [
            [
                "12c594a47019749c"
            ]
        ],
        "l": false
    },
    {
        "id": "be83f629752c0987",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.login.email.id",
                "pt": "msg",
                "to": "payload.html[0].name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.login.email.tx",
                "pt": "msg",
                "to": "cacheShellRecharge.login.credentials.id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1350,
        "wires": [
            [
                "12c594a47019749c"
            ]
        ],
        "l": false
    },
    {
        "id": "6b88b371a82942aa",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Vehicle information",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 840,
        "y": 925,
        "wires": [
            [
                "4e02ed9c9c25296a"
            ]
        ],
        "l": false
    },
    {
        "id": "923a9b65345a15ad",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://ui-mynm-my-vehicles.shellrecharge.com/api/facade/v1/me/vehicles",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/octet-stream",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.chargePoints",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.chargeTokens",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 925,
        "wires": [
            [
                "6b88b371a82942aa"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "05060d6b616cd90b",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Vehicles",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vehicles",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 665,
        "y": 925,
        "wires": [
            [
                "923a9b65345a15ad"
            ]
        ],
        "l": false
    },
    {
        "id": "81298a1bcc7809ed",
        "type": "json",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 925,
        "wires": [
            [
                "88b959582c0dd942",
                "d59e229dc073e1ce"
            ]
        ],
        "l": false
    },
    {
        "id": "66d26922e16ee300",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "9590544cfd8e8ca4"
        ],
        "x": 1640,
        "y": 925,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "88b959582c0dd942",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload._embedded",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065,
        "y": 925,
        "wires": [
            [
                "66d26922e16ee300"
            ]
        ],
        "icon": "font-awesome/fa-bug",
        "l": false
    },
    {
        "id": "92bae61713dd852f",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 1640,
        "y": 975,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "ee4631a7187a04bc",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Vehicles listed...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Vehicles listed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1565,
        "y": 975,
        "wires": [
            [
                "92bae61713dd852f"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "d59e229dc073e1ce",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065,
        "y": 975,
        "wires": [
            [
                "ee4631a7187a04bc"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "16fc251a4a40738c",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Energy (via API)",
        "method": "use",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1265,
        "y": 775,
        "wires": [
            [
                "f2769bb0da0fd5eb"
            ]
        ],
        "l": false
    },
    {
        "id": "c92c9c668a65e313",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json;charset=UTF-8",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://ui-chargepoints.shellrecharge.com/api/facade/v1/user-sessions/charge-points",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "query.start",
                "pt": "msg",
                "to": "$fromMillis($flowContext('cacheShellRecharge.qsp.from'),\"[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01][Z]\",$flowContext('srTZ'))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "query.end",
                "pt": "msg",
                "to": "$fromMillis($flowContext('cacheShellRecharge.qsp.to'),\"[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01][Z]\",$flowContext('srTZ'))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "query.offset",
                "pt": "msg",
                "to": "cacheShellRecharge.qsp.offset",
                "tot": "flow"
            },
            {
                "t": "move",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 775,
        "wires": [
            [
                "33f75bf31b842bf5"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "33f75bf31b842bf5",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"chargePointSerials\":[\"{{#payload.chargePointSerials}}{{.}}{{/payload.chargePointSerials}}\"],\n    \"endDateTime\": \"{{payload.end}}\",\n    \"offset\": \"{{payload.offset}}\",\n    \"sortField\": \"startDateTime\",\n    \"sortOrder\": \"desc\",\n    \"startDateTime\": \"{{payload.start}}\",\n    \"userId\": \"{{payload.id}}\"\n}",
        "output": "json",
        "x": 1190,
        "y": 775,
        "wires": [
            [
                "16fc251a4a40738c"
            ]
        ],
        "l": false
    },
    {
        "id": "be5f9a8d3ebd72f4",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "User information",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 840,
        "y": 775,
        "wires": [
            [
                "cd3dce904c9bec3d"
            ]
        ],
        "l": false
    },
    {
        "id": "8f8b1fb52af38724",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://ui-chargepoints.shellrecharge.com/api/facade/v1/me",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/octet-stream",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "query.chargePointSerials",
                "pt": "msg",
                "to": "[$.payload.chargePoints[$env('cpID')].serial]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 775,
        "wires": [
            [
                "be5f9a8d3ebd72f4"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false
    },
    {
        "id": "f8122a9294ea8c18",
        "type": "json",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 775,
        "wires": [
            [
                "32f1b47a9ceee9d5"
            ]
        ],
        "l": false
    },
    {
        "id": "32f1b47a9ceee9d5",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query.id",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065,
        "y": 775,
        "wires": [
            [
                "c92c9c668a65e313"
            ]
        ],
        "l": false
    },
    {
        "id": "5b13e8ebcdf783fb",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "energy",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 775,
        "wires": [
            [
                "c2b0913506035006"
            ]
        ],
        "icon": "font-awesome/fa-bug",
        "l": false
    },
    {
        "id": "3f6a7756715d79de",
        "type": "json",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1415,
        "y": 775,
        "wires": [
            [
                "5b13e8ebcdf783fb"
            ]
        ],
        "l": false
    },
    {
        "id": "c2b0913506035006",
        "type": "join",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "5",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1490,
        "y": 875,
        "wires": [
            [
                "74760b0a2d4fdf03"
            ]
        ],
        "l": false
    },
    {
        "id": "74760b0a2d4fdf03",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1565,
        "y": 875,
        "wires": [
            [
                "68693018d78eb13c"
            ]
        ],
        "l": false
    },
    {
        "id": "68693018d78eb13c",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "9590544cfd8e8ca4"
        ],
        "x": 1640,
        "y": 875,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "bddca1aaa9a8c7a4",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Setup",
        "rules": [
            {
                "t": "move",
                "p": "payload.from",
                "pt": "msg",
                "to": "query.from",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.to",
                "pt": "msg",
                "to": "query.to",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 375,
        "wires": [
            [
                "172522d7cf7c7426"
            ]
        ],
        "l": false
    },
    {
        "id": "07073d38cb0bae4f",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 325,
        "wires": [
            [
                "172522d7cf7c7426"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "9c67098f6cbb3c78",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Setup",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "setup",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 665,
        "y": 825,
        "wires": [
            [
                "b89864a2d42f858a",
                "d8e6f1b5972464ad",
                "8f8b1fb52af38724"
            ]
        ],
        "l": false
    },
    {
        "id": "d8e6f1b5972464ad",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "response",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 975,
        "wires": [
            [
                "8c9a020973f324e9"
            ]
        ],
        "icon": "font-awesome/fa-bug",
        "l": false
    },
    {
        "id": "8c9a020973f324e9",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "9590544cfd8e8ca4"
        ],
        "x": 840,
        "y": 975,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "f2769bb0da0fd5eb",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1340,
        "y": 775,
        "wires": [
            [
                "3f6a7756715d79de"
            ],
            [
                "e56ff91697a157bc"
            ]
        ],
        "l": false
    },
    {
        "id": "e56ff91697a157bc",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 1415,
        "y": 825,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "572203169a0822f7",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Failed",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "\"Failed action '\" & $.srAction & \"'\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 165,
        "y": 1950,
        "wires": [
            [
                "808082a692c6f41b"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "fc7b4c4511caca41",
        "type": "json",
        "z": "9d5f683315a5a542",
        "name": "",
        "property": "error",
        "action": "",
        "pretty": false,
        "x": 265,
        "y": 1950,
        "wires": [
            [
                "d31f47f1508d6fa0"
            ]
        ],
        "l": false
    },
    {
        "id": "808082a692c6f41b",
        "type": "function",
        "z": "9d5f683315a5a542",
        "name": "",
        "func": "// Shell Recharge's error message JSON is farked\n// But the HTTP node sometimes reports a simple string\n\nfunction hasJsonStructure(str) {\n    if (typeof str !== 'string') return false;\n    try {\n        const result = JSON.parse(str);\n        const type = Object.prototype.toString.call(result);\n        return type === '[object Object]' \n            || type === '[object Array]';\n    } catch (err) {\n        return false;\n    }\n}\nif (msg.payload.includes(\"{\"))\n{\n    // it's JSON\n    msg.error = msg.payload.substring(msg.payload.indexOf('{'),msg.payload.lastIndexOf('}')+1);\n}\n    else\n{\n    // it's plaintext\n    msg.error = '{\"message\":\"' + msg.payload + '\"}';\n}\n// Original code...\n// msg.error = msg.payload.substring(msg.payload.indexOf('{'),msg.payload.lastIndexOf('}')+1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 215,
        "y": 1950,
        "wires": [
            [
                "fc7b4c4511caca41"
            ]
        ],
        "l": false
    },
    {
        "id": "fd538d9d5a8fd211",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "6abe6acfd1991256",
            "9590544cfd8e8ca4"
        ],
        "x": 365,
        "y": 1950,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "d31f47f1508d6fa0",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "message",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 315,
        "y": 1950,
        "wires": [
            [
                "fd538d9d5a8fd211"
            ]
        ],
        "l": false
    },
    {
        "id": "c2044c3507fbb68d",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "HTTPERROR",
        "links": [
            "532b0e2f76226de4",
            "e56ff91697a157bc",
            "2cf8705a88791aa7",
            "d30748dfe688629d",
            "0c33b75dd66dbbdb",
            "601b4f6c0da65249",
            "116cc998e2c17f61",
            "cc24f68119f0e359",
            "ac9179d53c5592ca"
        ],
        "x": 90,
        "y": 1950,
        "wires": [
            [
                "572203169a0822f7"
            ]
        ],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "532b0e2f76226de4",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 990,
        "y": 475,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "b5c5ecac5947ae46",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "HTTP status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1315,
        "y": 1700,
        "wires": [
            [],
            [
                "2cf8705a88791aa7"
            ]
        ],
        "l": false
    },
    {
        "id": "2cf8705a88791aa7",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 1465,
        "y": 1700,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "b8d7a5ce3c8d668f",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Token",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "token",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 425,
        "wires": [
            [
                "f0ffa6a009705fe5"
            ]
        ],
        "l": false
    },
    {
        "id": "e1e5120ac1d12ba9",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "After token",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "aftertoken",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 625,
        "wires": [
            [
                "cbda7a99e76bd3cf"
            ]
        ],
        "l": false
    },
    {
        "id": "82ce1d20f249e7c8",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "SRTOKENFN",
        "links": [
            "300b5792119a9dc2",
            "7b9f772792bd11f8",
            "b0f7b88fee90fa4c",
            "878672c6eaf0975e"
        ],
        "x": 140,
        "y": 825,
        "wires": [
            [
                "10abc7e0d8384277"
            ]
        ],
        "icon": "font-awesome/fa-refresh"
    },
    {
        "id": "10abc7e0d8384277",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Reset token",
        "rules": [
            {
                "t": "delete",
                "p": "cacheShellRecharge.token",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 825,
        "wires": [
            [
                "34fe7d76584851ee"
            ]
        ],
        "icon": "font-awesome/fa-tags",
        "l": false
    },
    {
        "id": "351135b370cd4927",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "token",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 825,
        "wires": [
            [
                "6c0a96fcb4dc1086"
            ]
        ],
        "l": false
    },
    {
        "id": "f0ffa6a009705fe5",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "srAction",
                "pt": "msg",
                "to": "aftertoken",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 425,
        "wires": [
            [
                "e37e09b834bd3223",
                "7b9f772792bd11f8"
            ]
        ],
        "l": false
    },
    {
        "id": "6f0f8626b0f4574d",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "token",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1400,
        "wires": [
            [
                "84b9357efc07bec5"
            ]
        ],
        "l": false
    },
    {
        "id": "7b9f772792bd11f8",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "82ce1d20f249e7c8"
        ],
        "x": 240,
        "y": 475,
        "wires": [],
        "icon": "font-awesome/fa-refresh"
    },
    {
        "id": "300b5792119a9dc2",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "82ce1d20f249e7c8"
        ],
        "x": 1465,
        "y": 1500,
        "wires": [],
        "icon": "font-awesome/fa-refresh"
    },
    {
        "id": "b0f7b88fee90fa4c",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "82ce1d20f249e7c8"
        ],
        "x": 1640,
        "y": 725,
        "wires": [],
        "icon": "font-awesome/fa-refresh"
    },
    {
        "id": "6c0a96fcb4dc1086",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "9590544cfd8e8ca4"
        ],
        "x": 340,
        "y": 825,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "84b9357efc07bec5",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "9590544cfd8e8ca4"
        ],
        "x": 1465,
        "y": 1400,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "8a99863a6cc81ff3",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Token ready?",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ready",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 675,
        "wires": [
            [
                "7b4a6169138456d5"
            ]
        ],
        "l": false
    },
    {
        "id": "7b4a6169138456d5",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Token available?",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$exists($flowContext('cacheShellRecharge.token'))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ready",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 675,
        "wires": [
            [
                "13402d236f9bb359"
            ]
        ],
        "l": false,
        "info": "(Draft)\n\n\n**energy**\n\nOutput energy consumption data. This function needs an active Shell Recharge paid-for subscription, otherwise blank data are returned. The system is unreliable and often returns an error- try a **flush** first or send the payload repeatedly until it works. See also **describe**.\n\nAdditional payload parameters are _from_ and _to_ which should be set as a Unix Epoch time."
    },
    {
        "id": "13402d236f9bb359",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "9590544cfd8e8ca4"
        ],
        "x": 240,
        "y": 675,
        "wires": [],
        "icon": "font-awesome/fa-bug"
    },
    {
        "id": "c29354be6914cc27",
        "type": "link in",
        "z": "9d5f683315a5a542",
        "name": "",
        "links": [
            "cbda7a99e76bd3cf"
        ],
        "x": 1315,
        "y": 1500,
        "wires": [
            [
                "8568c0d2a7400d97"
            ]
        ]
    },
    {
        "id": "cbda7a99e76bd3cf",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "d": true,
        "name": "SRTOKENEXPIRE",
        "mode": "link",
        "links": [
            "c29354be6914cc27"
        ],
        "x": 190,
        "y": 625,
        "wires": []
    },
    {
        "id": "cd3dce904c9bec3d",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 915,
        "y": 775,
        "wires": [
            [
                "f8122a9294ea8c18"
            ],
            [
                "d30748dfe688629d"
            ]
        ],
        "l": false
    },
    {
        "id": "d30748dfe688629d",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 990,
        "y": 825,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "878672c6eaf0975e",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "82ce1d20f249e7c8"
        ],
        "x": 265,
        "y": 1600,
        "wires": [],
        "icon": "font-awesome/fa-refresh"
    },
    {
        "id": "34fe7d76584851ee",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Quiet?",
        "property": "cacheShellRecharge.qsp.quiet",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 825,
        "wires": [
            [
                "351135b370cd4927"
            ],
            [
                "e4240bfc94192607"
            ]
        ],
        "l": false
    },
    {
        "id": "e4240bfc94192607",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cacheShellRecharge.qsp.quiet",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 875,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "a5355e83df9753ea",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1265,
        "y": 325,
        "wires": [
            [
                "4679aafbae747c8a",
                "94fa760934fe9d2a",
                "866edefd107594fc"
            ],
            [
                "0c33b75dd66dbbdb"
            ]
        ],
        "l": false
    },
    {
        "id": "0c33b75dd66dbbdb",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 1340,
        "y": 475,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "601b4f6c0da65249",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 515,
        "y": 475,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "9ce34fce141e7ace",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1190,
        "y": 525,
        "wires": [
            [
                "2a72dade1b4acaac"
            ],
            [
                "116cc998e2c17f61"
            ]
        ],
        "l": false
    },
    {
        "id": "116cc998e2c17f61",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 1265,
        "y": 475,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "4e02ed9c9c25296a",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "Successful?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 915,
        "y": 925,
        "wires": [
            [
                "81298a1bcc7809ed"
            ],
            [
                "cc24f68119f0e359"
            ]
        ],
        "l": false
    },
    {
        "id": "cc24f68119f0e359",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 990,
        "y": 975,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "09086cb8ae8eed04",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "HTTP status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 1350,
        "wires": [
            [
                "02c354ce8b194827"
            ],
            [
                "6df20689638c480f"
            ]
        ],
        "l": false
    },
    {
        "id": "ac9179d53c5592ca",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "c2044c3507fbb68d"
        ],
        "x": 690,
        "y": 1550,
        "wires": [],
        "icon": "font-awesome/fa-hospital-o"
    },
    {
        "id": "b9d405733bb56aef",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "link",
        "links": [
            "d9c69663213b9607"
        ],
        "x": 240,
        "y": 775,
        "wires": [],
        "icon": "font-awesome/fa-sign-out"
    },
    {
        "id": "9090e0000cd44c3f",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "External charging off signal",
        "property": "srAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "chargeoff",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 775,
        "wires": [
            [
                "beb0a75a975cd607"
            ]
        ],
        "l": false
    },
    {
        "id": "beb0a75a975cd607",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 775,
        "wires": [
            [
                "b9d405733bb56aef"
            ]
        ],
        "l": false
    },
    {
        "id": "6b65ef27b95a6a40",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "HTTP status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ETIMEDOUT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "ecd33e5c396bc633"
            ]
        ],
        "l": false
    },
    {
        "id": "ecd33e5c396bc633",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('nmLoginAttempts') < $flowContext('nmLoginMaxAttempts') ? '. Retrying...' : '.'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'[' & $flowContext('nmLoginAttempts') & '/' & $flowContext('nmLoginMaxAttempts') & '] Login error' & $.payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "nmLoginAttempts",
                "pt": "flow",
                "to": "$flowContext(\"nmLoginAttempts\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "1047d294aea91ab9"
            ]
        ],
        "icon": "font-awesome/fa-bullhorn",
        "l": false
    },
    {
        "id": "1047d294aea91ab9",
        "type": "link out",
        "z": "9d5f683315a5a542",
        "name": "NMSTATUS",
        "mode": "link",
        "links": [
            "6abe6acfd1991256"
        ],
        "x": 540,
        "y": 1400,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "6df20689638c480f",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "nmLoginAttempts",
                "pt": "flow",
                "to": "$flowContext(\"nmLoginAttempts\") + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 1550,
        "wires": [
            [
                "ac9179d53c5592ca"
            ]
        ],
        "l": false
    },
    {
        "id": "9380cf4593c3772c",
        "type": "switch",
        "z": "9d5f683315a5a542",
        "name": "HTTP status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ETIMEDOUT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1315,
        "y": 1650,
        "wires": [
            [
                "b74b8bf64333f55c"
            ]
        ],
        "l": false
    },
    {
        "id": "adaff483fbe747d6",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "HTTP parameters",
        "rules": [
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.rfid",
                "pt": "msg",
                "to": "$.payload.chargeTokens[$flowContext('cacheShellRecharge.tID')].rfid",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.evseNo",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://ui-chargepoints.shellrecharge.com/api/facade/v1/charge-points/' & $.payload.chargePoints[$env('cpID')].uuid & '/remote-control/' & $.srAction",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cookies.language.code.selection",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cookies.tnm_api",
                "pt": "msg",
                "to": "cacheShellRecharge.token",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.accept",
                "pt": "msg",
                "to": "text/html",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.chargePoints",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.chargeTokens",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "2000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765,
        "y": 375,
        "wires": [
            [
                "b15835133c7037cc"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false,
        "info": "Adjustments for Mark1200: msg.cardid:<number>"
    },
    {
        "id": "7041484dc112196b",
        "type": "http request",
        "z": "9d5f683315a5a542",
        "name": "Token request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1215,
        "y": 1350,
        "wires": [
            [
                "29b5d65c19ea10c0"
            ]
        ],
        "l": false
    },
    {
        "id": "a12e5347337b5671",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"{{{payload.login.email.id}}}\"    : \"{{{payload.login.email.tx}}}\",\n    \"{{{payload.login.password.id}}}\" : \"{{{payload.login.password.tx}}}\",\n    \"{{{payload.login.hidden.id}}}\"   : \"{{{payload.login.hidden.tx}}}\"\n}",
        "output": "json",
        "x": 1115,
        "y": 1350,
        "wires": [
            [
                "f205f54fb6de5401"
            ]
        ],
        "l": false
    },
    {
        "id": "f205f54fb6de5401",
        "type": "function",
        "z": "9d5f683315a5a542",
        "name": "",
        "func": "var formBody = [];\nfor (var property in msg.payload) {\n  var encodedKey   = encodeURIComponent(property);\n  var encodedValue = encodeURIComponent(msg.payload[property]);\n  formBody.push(encodedKey + \"=\" + encodedValue);\n}\nformBody = formBody.join(\"&\");\nmsg.payload = formBody;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "var offset  = new Date().getTimezoneOffset();\nvar sign    = Math.sign(offset) == -1 ? \"+\" : \"-\"; \nvar hours   = String(\"00\" + Math.abs(offset/60>>0)).slice(-2);\nvar minutes = String(\"00\" + offset % 60).slice(-2);\nflow.set(\"srTZ\",sign+hours+minutes);",
        "finalize": "",
        "libs": [],
        "x": 1165,
        "y": 1350,
        "wires": [
            [
                "7041484dc112196b"
            ]
        ],
        "l": false
    },
    {
        "id": "4c9fd4d650507f11",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cacheShellRecharge.session",
                "pt": "flow",
                "to": "cookies.JSESSIONID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseCookies",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://account.shellrecharge.com/ajax_request/' & $.payload.login.ajax.id & '-00/'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "5000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.1 Safari/605.1.15\",\"Connection\":\"keep-alive\",\"Content-Type\":\"application/x-www-form-urlencoded; charset=UTF-8\",\"Referer\":\"https://account.shellrecharge.com/\",\"Accept-Encoding\":\"gzip, deflate, br\",\"Accept-Language\":\"en-gb\",\"X-Requested-With\":\"XMLHttpRequest\",\"Origin\":\"https://account.shellrecharge.com\",\"Accept\":\"text/javascript, application/javascript, application/ecmascript, application/x-ecmascript, */*; q=0.01\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065,
        "y": 1350,
        "wires": [
            [
                "a12e5347337b5671"
            ]
        ],
        "icon": "node-red/parser-html.svg",
        "l": false,
        "info": "{\"X-Requested-With\":\"XMLHttpRequest\",\"Accept\":\"text/javascript, application/javascript, application/ecmascript, application/x-ecmascript, */*; q=0.01\",\"Accept-Language\":\"en-gb\",\"Origin\":\"https://account.shellrecharge.com\",\"Referer\":\"https://account.shellrecharge.com/\",\"Connection\":\"keep-alive\",\"User-Agent\":\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.1 Safari/605.1.15\",\"Content-Type\":\"application/x-www-form-urlencoded; charset=UTF-8\",\"Accept-Encoding\":\"gzip, deflate, br\"}"
    },
    {
        "id": "43c49aeb0fb2c170",
        "type": "join",
        "z": "9d5f683315a5a542",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "cookies",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1015,
        "y": 1350,
        "wires": [
            [
                "4c9fd4d650507f11"
            ]
        ],
        "l": false
    },
    {
        "id": "3d5329e15abe8fa9",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "cookies[\"AWSALBAPP-0\"]",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":\"{{{responseCookies.AWSALBAPP-0.value}}}\",\"encode\":false}",
        "output": "json",
        "x": 940,
        "y": 1350,
        "wires": [
            [
                "43c49aeb0fb2c170"
            ]
        ],
        "l": false
    },
    {
        "id": "adb967f432acecb1",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "cookies[\"AWSALBAPP-1\"]",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":\"{{{responseCookies.AWSALBAPP-1.value}}}\",\"encode\":false}",
        "output": "json",
        "x": 940,
        "y": 1390,
        "wires": [
            [
                "43c49aeb0fb2c170"
            ]
        ],
        "l": false
    },
    {
        "id": "30baccf0853326da",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "cookies[\"AWSALBAPP-2\"]",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":\"{{{responseCookies.AWSALBAPP-2.value}}}\",\"encode\":false}",
        "output": "json",
        "x": 940,
        "y": 1430,
        "wires": [
            [
                "43c49aeb0fb2c170"
            ]
        ],
        "l": false
    },
    {
        "id": "06c5aceadc8e0e64",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "cookies[\"AWSALBAPP-3\"]",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":\"{{{responseCookies.AWSALBAPP-3.value}}}\",\"encode\":false}",
        "output": "json",
        "x": 940,
        "y": 1470,
        "wires": [
            [
                "43c49aeb0fb2c170"
            ]
        ],
        "l": false
    },
    {
        "id": "bd8e389b15979e97",
        "type": "template",
        "z": "9d5f683315a5a542",
        "name": "",
        "field": "cookies[\"JSESSIONID\"]",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"value\":\"{{{responseCookies.JSESSIONID.value}}}\",\"encode\":false}",
        "output": "json",
        "x": 940,
        "y": 1510,
        "wires": [
            [
                "43c49aeb0fb2c170"
            ]
        ],
        "l": false
    },
    {
        "id": "b67f393605a99c00",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cookies[\"language.code.selection\"]",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1550,
        "wires": [
            [
                "43c49aeb0fb2c170"
            ]
        ],
        "l": false
    },
    {
        "id": "2468225b2d1f7f87",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1350,
        "wires": [
            [
                "3d5329e15abe8fa9",
                "adb967f432acecb1",
                "30baccf0853326da",
                "06c5aceadc8e0e64",
                "bd8e389b15979e97",
                "b67f393605a99c00"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "29b5d65c19ea10c0",
        "type": "change",
        "z": "9d5f683315a5a542",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1350,
        "wires": [
            [
                "cc62737256987863",
                "3decb103a0193841",
                "9380cf4593c3772c",
                "b5c5ecac5947ae46"
            ]
        ],
        "icon": "font-awesome/fa-link",
        "l": false
    },
    {
        "id": "8f144b06c3f2a3b0",
        "type": "comment",
        "z": "9d5f683315a5a542",
        "name": "Authentication [2023-04-01]",
        "info": "",
        "x": 195,
        "y": 1300,
        "wires": []
    },
    {
        "id": "27d4e4ba5b56b820",
        "type": "comment",
        "z": "9d5f683315a5a542",
        "name": "Input, output and errors [2023-04-01]",
        "info": "",
        "x": 225,
        "y": 1750,
        "wires": []
    },
    {
        "id": "208dd83203846668",
        "type": "comment",
        "z": "9d5f683315a5a542",
        "name": "Setup ➡️",
        "info": "",
        "x": 135,
        "y": 1900,
        "wires": []
    }
]